TenekRH/Test.WinForms/Service References/WSTenekRH/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraeNomina">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numeroEmpleado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraeNominaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeNominaResult" type="tns:ArrayOfNominaEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNominaEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NominaEntity" nillable="true" type="tns:NominaEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NominaEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Percepciones" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Retenciones" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroEmpleado" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraeEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numeroEmpleado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraeEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeEmpleadoResult" type="tns:ArrayOfEmpleadoEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmpleadoEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EmpleadoEntity" nillable="true" type="tns:EmpleadoEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmpleadoEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NumeroEmpleado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidosEmpleado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombresEmpleado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensajeria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Puesto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Perfil" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraeLitaEventos">
        <s:complexType />
      </s:element>
      <s:element name="TraeLitaEventosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeLitaEventosResult" type="tns:ArrayOfEventosEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEventosEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EventosEntity" nillable="true" type="tns:EventosEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventosEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraeListaDirectorio">
        <s:complexType />
      </s:element>
      <s:element name="TraeListaDirectorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeListaDirectorioResult" type="tns:ArrayOfDirectorioEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDirectorioEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DirectorioEntity" nillable="true" type="tns:DirectorioEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DirectorioEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NombreDepartamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JefeDepartamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelefonoDepartamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorreoDepartamento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraeVacaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numeroEmpleado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraeVacacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeVacacionesResult" type="tns:ArrayOfVacacionesEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVacacionesEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VacacionesEntity" nillable="true" type="tns:VacacionesEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VacacionesEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NumeroEmpleado" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Periodo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DiasCorrespondientes" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DiasDisponibles" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DiasDisfrutados" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PorcentajePrima" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Vencimiento" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="TraeNominaSoapIn">
    <wsdl:part name="parameters" element="tns:TraeNomina" />
  </wsdl:message>
  <wsdl:message name="TraeNominaSoapOut">
    <wsdl:part name="parameters" element="tns:TraeNominaResponse" />
  </wsdl:message>
  <wsdl:message name="TraeEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:TraeEmpleado" />
  </wsdl:message>
  <wsdl:message name="TraeEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:TraeEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="TraeLitaEventosSoapIn">
    <wsdl:part name="parameters" element="tns:TraeLitaEventos" />
  </wsdl:message>
  <wsdl:message name="TraeLitaEventosSoapOut">
    <wsdl:part name="parameters" element="tns:TraeLitaEventosResponse" />
  </wsdl:message>
  <wsdl:message name="TraeListaDirectorioSoapIn">
    <wsdl:part name="parameters" element="tns:TraeListaDirectorio" />
  </wsdl:message>
  <wsdl:message name="TraeListaDirectorioSoapOut">
    <wsdl:part name="parameters" element="tns:TraeListaDirectorioResponse" />
  </wsdl:message>
  <wsdl:message name="TraeVacacionesSoapIn">
    <wsdl:part name="parameters" element="tns:TraeVacaciones" />
  </wsdl:message>
  <wsdl:message name="TraeVacacionesSoapOut">
    <wsdl:part name="parameters" element="tns:TraeVacacionesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve un string con el numero de empleado</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeNomina">
      <wsdl:input message="tns:TraeNominaSoapIn" />
      <wsdl:output message="tns:TraeNominaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeEmpleado">
      <wsdl:input message="tns:TraeEmpleadoSoapIn" />
      <wsdl:output message="tns:TraeEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeLitaEventos">
      <wsdl:input message="tns:TraeLitaEventosSoapIn" />
      <wsdl:output message="tns:TraeLitaEventosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeListaDirectorio">
      <wsdl:input message="tns:TraeListaDirectorioSoapIn" />
      <wsdl:output message="tns:TraeListaDirectorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeVacaciones">
      <wsdl:input message="tns:TraeVacacionesSoapIn" />
      <wsdl:output message="tns:TraeVacacionesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesSoap" type="tns:ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeNomina">
      <soap:operation soapAction="http://tempuri.org/TraeNomina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeEmpleado">
      <soap:operation soapAction="http://tempuri.org/TraeEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeLitaEventos">
      <soap:operation soapAction="http://tempuri.org/TraeLitaEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeListaDirectorio">
      <soap:operation soapAction="http://tempuri.org/TraeListaDirectorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeVacaciones">
      <soap:operation soapAction="http://tempuri.org/TraeVacaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicesSoap12" type="tns:ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeNomina">
      <soap12:operation soapAction="http://tempuri.org/TraeNomina" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeEmpleado">
      <soap12:operation soapAction="http://tempuri.org/TraeEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeLitaEventos">
      <soap12:operation soapAction="http://tempuri.org/TraeLitaEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeListaDirectorio">
      <soap12:operation soapAction="http://tempuri.org/TraeListaDirectorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeVacaciones">
      <soap12:operation soapAction="http://tempuri.org/TraeVacaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="ServicesSoap" binding="tns:ServicesSoap">
      <soap:address location="http://servicios.tenek.biz/Services.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicesSoap12" binding="tns:ServicesSoap12">
      <soap12:address location="http://servicios.tenek.biz/Services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>